.header {
    overflow: hidden;
    background-color: #aca6a6;
    padding: 0px,0px;

  }
h3{
    text-align: center;
}

 .form-control{
    /*text-align: center;
     border-radius: 4px;
    padding: 0px,0px; */
} 
/* button{
    float: right;
    border-radius: 4px;
    padding: 0px,0px;
} */

