<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="header">
  <h3>This is header </h3>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="Search.." name="search">
  </div>
      <button type="submit"><i class="fa fa-search"></i></button>
</div>