.container{
    position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 462px;
  background-color: #ccc;
  border-radius: 8px;
}
.form-control {
    border-radius: 8px;
}