
 .form-group{
    text-align: center;
    justify-content: center;
    margin-top: -31px;
} 
.container{
    margin: 0 auto;
    background-color: lightgray;
    height: 40%;
    width: 20%;
    
    margin-top: 5%;
    border-radius: 10px;
}
.form-control {
    padding: 6px 44px; 
    border-radius: 8px;   
}
span{
    height: 2%;
}
.input-group-addon{
    position: relative;
    left: 3px;
    top: 32px;
    border: 1px solid #ffffff;
}
.input-group-addon, .input-group-btn {
    width: 0%;
    background-color:#ffffff; 
}
.class-btn{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;  
}
.btn {
    margin-right: 19% !important;
    background-color: #1c151533;
}
.btn-success {
    color: #fff;
    background-color: #2108ef;
    border-color: #2108ef;
}