<!-- <form>
  <div class="main-div">
  <div class="form-group">
    <input type="text" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password">
  </div>
  <div class="form-button">
    <button>Login</button>
  </div>
  <div class="form-button">
    <button>Signup</button>
  </div>
  </div>
</form> -->
<!-- <body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<form id="login-form" name="login-form">
  <div class="form-group">
    <input type="text" name="username" id="username"  placeholder="Username" >
  </div>
  <div class="form-group">
    <input type="password" name="password" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <input type="submit" name="login-submit" id="login-submit" value="Log In">
      </div>
    </div>
  </div>
  </form>




</body> -->
<!-- 
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Login form</h2>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-button">
      <button type="submit" class="btn btn-default" onclick="Submit()" click="abc()">Login</button>
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </form>
  </div>
</body>
</html> -->
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>
  <body>
      <div class="container">
          <form >
                <h2><b>Login</b></h2>
                <div class="form-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <!-- <input type="text" placeholder="Username" class="form-control" id="Username"> -->
                    <input type="email" class="form-control" placeholder="Email" id="email" required="">
                </div>
                <div class="form-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" placeholder="Password" class="form-control" id="Password" required="">
              </div>
              <div class="class-btn">
                  <button  type="submit" (click)="login()" class="btn btn-secondary">Login</button>
                 
              </div>
          </form>
          <!-- <button  type="button" class="btn btn-secondary">Login</button> -->
      </div>
  </body>
</html>