
<!-- <app-testcomp></app-testcomp> -->
<input [id]="MyId" type="text" value="Hello" name="name"><br>


<input [id]="MyId" type="text" value="Hello" name="name" [disabled]="isDisable">


<h3 class="text-success">Welcome to Angular 6...</h3>

<h3 [class]="successClass">Welcome to Angular 6...</h3>

<h3 [class.text-error]="isError">Welcome to Angular 6...</h3>


<h3 [ngClass]="messageClass">Welcome to Angular 6...</h3>
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->
                                      